
.main {
  padding: 3rem 1.5rem;
  text-align: center;
}

.jumbotron-main {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  text-shadow: 2px 2px 0px #000;
  color: white;
}

.btn-primary-main {
  color: white;
  background-color: grey;
  border-color: grey;
  text-shadow: 0px 0px 0px #000;
}

.navbar-brand-main {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  background-color: rgba(188, 212, 224, 1);
  color: rgba(81, 83, 108, 1);
}

.bg-custom {
background-color: rgba(188, 212, 224, 1);
color: rgba(81, 83, 108, 1);
}
