<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/images/logo.jpg">
    <title>Pretty picks</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
      <a class="navbar-brand-main" href="https://pretty-picks.herokuapp.com/">
          <img src="../static/images/pretty-picks.jpg" size: 100%; alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://pretty-picks.herokuapp.com/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://pretty-picks.herokuapp.com/dressme">Dress me <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!--Feature-->
    <div class="jumbotron-main" style="background-image: url(../static/images/feature1.jpg)" background-size: 100%;>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="display-4">How's it cookin' good lookin'?</h1>
      <br>
      <p class="lead">If you could choose one word to summarise your style, or even your personality in one word - what would it be?
      <br>
      <br>Keep that word in mind, you'll need it soon!</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-5">
          <gcse:searchbox-only newWindow-"false" queryParameterName="What screams 'YOU'"></gcse:searchbox-only>
        </div>
      </div>
    </div>

    <div class="jumbotron-blue">
      <form action="/dressmeresults" method="post">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <br>
            <br>
            <input type="text" class="form-control" name="lookbook" placeholder="What screams 'YOU'?"></input>
            <br>
            <br>
            <input type="submit" value="Submit" class="btn btn-secondary-outline btn-md"></input>
            <br>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
      </form>
      {% if response %}
      <ul>
        <li><img src="{{ lookbook_image }}" alt="Your new look?"></li>
      </ul>
      {% endif %}
    </div>
    <div class="jumbotron-white">
      <div class="row">
        <div class="col-md-4">
          <div class="embed-container">
            <iframe src='https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3' frameborder='0' allowtransparency='true' allow='encrypted-media'>
            </iframe>
          </div>
        </div>
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 class="display-4">Get ready with us!</h1>
          <br>
          <p class="lead">Whether it's 8AM and you're racing out of the door for work, or getting ready for a big night on the town, music does wonders for the soul.
          <br>
          <br>So plug in those headphones or crank up your speakers and listen along with us!</p>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                  <br>
                  <a class="footer" href="https://pretty-picks.herokuapp.com/">
                      <img src="../static/images/pretty-picks.jpg" size: 100%>
                  </a>
                  <div class="row">
                    <div class="col-6">
                      <br>
                      <ul class="list-footer">
                        <li class="nav-item active">
                          <a class="nav-link" href="https://pretty-picks.herokuapp.com/">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://pretty-picks.herokuapp.com/dressme">Dress me<span class="sr-only">(current)</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <h5 class="text-md-right">Enquiries</h5>
                    <hr>
                </div>
                <div class="col-md-5">
                    <br>
                    <br>
                    <form action="/signup" method="post">
                      <fieldset class="form-group">
                          <input type="text" class="form-control" name="email" placeholder="Enter email"></input>
                      </fieldset>
                      <fieldset class="form-group">
                          <textarea type="text" class="form-control" name="enquiry" placeholder="Message"></textarea>
                      </fieldset>
                      <fieldset class="form-group text-xs-right">
                          <input type="submit" value="Submit" class="btn btn-secondary-outline btn-lg"></input>
                      </fieldset>
                  </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
