<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/images/logo.jpg">
    <title>Pretty picks</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
      <a class="navbar-brand-main" href="#">
          <img src="../static/images/pretty-picks.jpg" size: 100%; alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Dress me <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OoTD</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--Feature-->
    <div class="jumbotron-main" style="background-image: url(../static/images/feature1.jpg)" background-size: 100%;>
      <br>
      <br>
      <br>
      <h1 class="display-4">How's it cookin' good lookin'?</h1>
      <br>
      <p class="lead">If you could choose one word to summarise your style, or even your personality in one word - what would it be?
      <br>
      <br>Keep that word in mind, you'll need it soon!</p>
      <br>
      <br>
      <br>
    </div>

    <div class="jumbotron-main" style="background-image: url(../static/images/feature1.jpg)" background-size:100%;>

    </div>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                  <br>
                  <a class="footer" href="#">
                      <img src="../static/images/pretty-picks.jpg" size: 100%>
                  </a>
                  <div class="row">
                    <div class="col-6">
                      <br>
                      <ul class="list-footer">
                        <li class="nav-item active">
                          <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Dress me</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">OoTD</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <h5 class="text-md-right">Enquiries</h5>
                    <hr>
                </div>
                <div class="col-md-5">
                    <br>
                    <br>
                    <form>
                        <fieldset class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                        </fieldset>
                        <fieldset class="form-group text-xs-right">
                            <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
