<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/images/logo.jpg">
    <title>Pretty picks</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
      <a class="navbar-brand-main" href="https://pretty-picks.herokuapp.com/">
          <img src="../static/images/pretty-picks.jpg" size: 100%; alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://pretty-picks.herokuapp.com/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://pretty-picks.herokuapp.com/dressme">Dress me <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!--Feature-->
    <div class="jumbotron-temperature" style="background-image: url(../static/images/hotweather.jpg)" background-size: 100%;>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>Feelin' hot hot hot!</h1>
      <br>
      <p class="lead">Sounds like it's suns out, guns out your way!
      <br>
      <br>Make sure to put on the SPF, and wear something light and breezy</p>
      <br>
      <br>
      <a class="btn btn-primary-main btn-lg" href="https://pretty-picks.herokuapp.com/" role="button">Home</a>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="container-custom">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot8.png" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot1.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot2.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot3.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot4.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot5.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot6.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="../static/images/Hot7.jpg" class="carousel-images" alt="Image" style="max-width:100%;">
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                  <br>
                  <a class="footer" href="https://pretty-picks.herokuapp.com/">
                      <img src="../static/images/pretty-picks.jpg" size: 100%>
                  </a>
                  <div class="row">
                    <div class="col-6">
                      <br>
                      <ul class="list-footer">
                        <li class="nav-item active">
                          <a class="nav-link" href="https://pretty-picks.herokuapp.com/">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://pretty-picks.herokuapp.com/dressme">Dress me</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <h5 class="text-md-right">Enquiries</h5>
                    <hr>
                </div>
                <div class="col-md-5">
                    <br>
                    <br>
                    <form action="/signup" method="post">
                      <fieldset class="form-group">
                          <input type="text" class="form-control" name="email" placeholder="Enter email"></input>
                      </fieldset>
                      <fieldset class="form-group">
                          <textarea type="text" class="form-control" name="enquiry" placeholder="Message"></textarea>
                      </fieldset>
                      <fieldset class="form-group text-xs-right">
                          <input type="submit" value="Submit" class="btn btn-secondary-outline btn-lg"></input>
                      </fieldset>
                  </form>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
